<!-- app/views/sessions/new.html.erb -->
<h1>Login</h1>

<%= form_with(url: login_path, method: :post, local: true) do %>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div>
    <%= submit_tag 'Sign In' %>
  </div>
<% end %>

<%= flash[:alert] if flash[:alert] %>
